doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet', href='/style/styles.css')
  style.

    table#miTabla {
    border-collapse: collapse;
    border: 2px solid #3498db;
    border-radius: 10px;
    overflow: hidden;
    width: 800px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-bottom: 30px;
    }
    th#tituloTabla {
    background-color: #1ab192;
    color: white;
    text-align: center;
    }
    th, td {
    border: 1px solid #1ab192;
    padding: 10px 20px;
    text-align: justify;
    }
    tr:nth-child(even) {
    background-color: #f2f2f2;
    }
  title Seguimiento de dispositivos
  body
    header
      button#back.btn-back(type='button', onclick='history.back()')
          img(src='/img/back.webp', alt='back')
      a(href='/principal')
        .logo
          img(src='/img/uttnlogl.webp', alt='Encabezado')
      button#cerrar-sesion.btn-cerrar-sesion(type='button', onclick='location.href="/cerrar-sesion"', title='Cerrar sesión')
        img(src='/img/cerrarsesion.webp', alt='back', style='height:30px')
    table#miTabla
      tr
        th#tituloTabla(colspan='2') Estado del equipo
      tr
        td Estado
        td= dispositivo.estadoEquipo.estado
      tr
        td Actualización
        td= dispositivo.estadoEquipo.actualizacion
      tr
        td Fecha de actualización
        td= dispositivo.estadoEquipo.fechaActualizacion
      tr
        td Encargado
        td= dispositivo.estadoEquipo.encargado
      tr
        th#tituloTabla(colspan='2') Informacion del articulo
      tr
        td ID
        td= dispositivo.informacionArticulo.id
      tr
        td Articulo
        td= dispositivo.informacionArticulo.articulo
      tr
        td Marca
        td= dispositivo.informacionArticulo.marca
      tr
        td Modelo
        td= dispositivo.informacionArticulo.modelo  
      tr
        td Numero de serie
        td= dispositivo.informacionArticulo.numeroSerie  
      tr
        td Tiempo de vida
        td= dispositivo.informacionArticulo.tiempoVida
      tr
        th#tituloTabla(colspan='2') Informacion de resguardo
      tr
        td Departamento de resguardo
        td= dispositivo.informacionResguardo.departamentoResguardo
      tr
        td Resguardante
        td= dispositivo.informacionResguardo.resguardante
      tr
        td En uso por
        td= dispositivo.informacionResguardo.usoPor
      tr
        th#tituloTabla(colspan='2') Anotaciones
      tr
        td Observaciones
        td= dispositivo.anotaciones.observaciones
      tr
        td Recomendaciones
        td= dispositivo.anotaciones.recomendaciones              
    footer &copy; Universidad Tecnol&oacute;gica de Tamaulipas Norte - 2023
