// En tu archivo Pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/inicio')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style/styles.css')
    title Seguimiento de dispositivos
div.containergen
  body
    header
      button#back.btn-back(type='button', onclick='history.back()')
          img(src='img/back.webp', alt='back')
      a(href='principal')
        .logo
          img(src='img/uttnlogl.webp', alt='Encabezado')
      button#cerrar-sesion.btn-cerrar-sesion(type='button', onclick='location.href="/cerrar-sesion"') 
        img(src='img/cerrarsesion.webp', alt='back', style='height:30px', title='Cerrar sesión')
    form(onsubmit='doSearch(); return false;', class='searchbarForm', style='text-align: center;')
      div(style='display:flex; flex-flow:row wrap; justify-content:center')
        input(type='text', class='searchbar', id='search_entry', placeholder='ID, Articulo, Modelo, Marca o Resguardante.', style='width:500px;')
        input(type='image', value='', class='primaryButton' style='margin-left:10px; width:30px;', src='img/buscar.webp', title='Buscar')
        input(type='image', src='img/historia.webp', style='margin-left:10px; width:30px', onclick='location.href="/historialdetodo"', title='Historial')
        input(type='image', src='img/excel.webp', style='margin-left:10px; width:30px', onclick='location.href="/exportar-excel"', title='Historial')
    table.gris
      caption
          | Dispositivos registrados
      tbody
          tr
              th ID
              th Articulo
              th Marca
              th Modelo
              th Resguardante
              th
              
          each dispositivo in dispositivos
              tr
                  td= dispositivo.informacionArticulo.id
                  td= dispositivo.informacionArticulo.articulo
                  td= dispositivo.informacionArticulo.marca
                  td= dispositivo.informacionArticulo.modelo
                  td= dispositivo.informacionResguardo.resguardante
                  td
                      a(href=`/detalles/${dispositivo._id}`)
                        button.btn.verde
                          img(src='img/ver.webp', alt='back', style='height:30px', title='Ver') 
       
                      a(href=`/editar/${dispositivo._id}`)
                        button.btn.azul 
                          img(src='img/editar.webp', alt='back', style='height:30px', title='Editar')                         
  
                      a(href=`/historial/${dispositivo._id}`)
                        button.btn.blanco
                          img(src='img/historial.webp', alt='back', style='height:30px', title='Historial del dispositivo')   

                      button.btn.rojo(onclick='borrarDispositivo("' + dispositivo._id + '")', title='Borrar')
                        img(src='img/borrar.webp', alt='back', style='height:30px')

    footer &copy; Universidad Tecnol&oacute;gica de Tamaulipas Norte - 2023

  script.
    const doSearch = async () => {
      try {
        const entry = document.getElementById('search_entry').value;
        const response = await fetch(`/search/${entry}`);
        const data = await response.json();

        const tableBody = document.querySelector('table.gris tbody');
        tableBody.innerHTML = '';

        data.forEach(dispositivo => {
          const newRow = tableBody.insertRow();
          const idCell = newRow.insertCell();
          idCell.textContent = dispositivo.informacionArticulo.id;
          const articuloCell = newRow.insertCell();
          articuloCell.textContent = dispositivo.informacionArticulo.articulo;
          const marcaCell = newRow.insertCell();
          marcaCell.textContent = dispositivo.informacionArticulo.marca;
          const modeloCell = newRow.insertCell();
          modeloCell.textContent = dispositivo.informacionArticulo.modelo;
          const resguardanteCell = newRow.insertCell();
          resguardanteCell.textContent = dispositivo.informacionResguardo.resguardante;

          const verCell = newRow.insertCell();
          const verButton = document.createElement('button');
          verButton.className = 'btn verde';
          const verImage = document.createElement('img');
          verImage.src = 'img/ver.webp';
          verImage.alt = 'ver';
          verImage.style.height = '30px';
          verButton.appendChild(verImage);
          const verLink = document.createElement('a');
          verLink.href = `/detalles/${dispositivo._id}`;
          verLink.appendChild(verButton);
          verCell.appendChild(verLink);

          const editarCell = newRow.insertCell();
          const editarButton = document.createElement('button');
          editarButton.className = 'btn azul';
          const editarImage = document.createElement('img');
          editarImage.src = 'img/editar.webp';
          editarImage.alt = 'editar';
          editarImage.style.height = '30px';
          editarButton.appendChild(editarImage);
          const editarLink = document.createElement('a');
          editarLink.href = `/editar/${dispositivo._id}`;
          editarLink.appendChild(editarButton);
          editarCell.appendChild(editarLink);

          const historialCell = newRow.insertCell();
          const historialButton = document.createElement('button');
          historialButton.className = 'btn blanco';
          const historialImage = document.createElement('img');
          historialImage.src = 'img/historial.webp';
          historialImage.alt = 'historial';
          historialImage.style.height = '30px';
          historialButton.appendChild(historialImage);
          const historialLink = document.createElement('a');
          historialLink.href = `/historial/${dispositivo._id}`;
          historialLink.appendChild(historialButton);
          historialCell.appendChild(historialLink);

          const borrarCell = newRow.insertCell();
          const borrarButton = document.createElement('button');
          borrarButton.className = 'btn rojo';
          borrarButton.onclick = () => borrarDispositivo(dispositivo._id);
          const borrarImage = document.createElement('img');
          borrarImage.src = 'img/borrar.webp';
          borrarImage.alt = 'borrar';
          borrarImage.style.height = '30px';
          borrarButton.appendChild(borrarImage);
          borrarCell.appendChild(borrarButton);
        });
      } catch (error) {
        console.error('Error al realizar la búsqueda:', error);
      }
    };

script.
    function borrarDispositivo(dispositivoId) {
        if (confirm("¿Seguro que desea borrar este dispositivo?")) {
            // Realiza una solicitud al servidor para borrar el dispositivo por su ID
            fetch(`/borrar-dispositivo/${dispositivoId}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Actualiza la página o realiza otras acciones necesarias
                        alert("Dispositivo borrado con éxito");
                        location.reload(); // Recarga la página
                    } else {
                        alert("Error al borrar el dispositivo");
                    }
                })
                .catch(error => {
                    console.error("Error al borrar el dispositivo:", error);
                    alert("Error al borrar el dispositivo");
                });
        }
    }
