doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/inicio')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style/styles.css')
    title Seguimiento de dispositivos
  body
    header
      .logo
        img(src='img/uttnlogl.png', alt='Encabezado')
      button#cerrar-sesion.btn-cerrar-sesion(type='button', onclick='location.href="/cerrar-sesion"') Cerrar Sesión
    table.gris
      caption
        | Dispositivos registrados
      tbody
            tr
                th ID
                th Articulo
                th Marca
                th Modelo
                th Resguardante
                th
                th

            //- Aquí comienza el foreach para mostrar los usuarios
            each dispositivo in dispositivos
                tr
                    td= dispositivo.informacionArticulo.id
                    td= dispositivo.informacionArticulo.articulo
                    td= dispositivo.informacionArticulo.marca
                    td= dispositivo.informacionArticulo.modelo
                    td= dispositivo.informacionResguardo.resguardante
                    td
                        button.btn.verde Ver
                    td
                        button.btn.azul Editar
                    td
                        button.btn.rojo Borrar
    footer &copy; Universidad Tecnol&oacute;gica de Tamaulipas Norte - 2023