doctype html
html(lang='en')

head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../style/styles.css')
    title Seguimiento de dispositivos

body
    header
        button#back.btn-back(type='button', onclick='location.href="/principal"')
            img(src='img/back.png', alt='back')
        .logo
            img(src='../img/uttnlogl.png', alt='Encabezado')
        button#cerrar-sesion.btn-cerrar-sesion(type='button', onclick='location.href="/cerrar-sesion"') Cerrar Sesión

    table.gris
        caption
            | Usuarios registrados
        tbody
            tr
                th Nombre de Usuario
                th Nombre
                th Apellido Paterno
                th Apellido Materno
                th Email
                th
                th
                th

            //- Aquí comienza el foreach para mostrar los usuarios
            each user in usuarios
                tr
                    td= user.username
                    td= user.nombre
                    td= user.apellidoPaterno
                    td= user.apellidoMaterno
                    td= user.correo
                    td
                        button.btn.verde Ver
                    td
                        button.btn.azul Editar
                    td
                        button.btn.rojo(onclick='borrarUsuario("' + user._id + '")') Borrar

footer &copy; Universidad Tecnológica de Tamaulipas Norte - 2023

script.
    function borrarUsuario(userId) {
        if (confirm("¿Seguro que desea borrar este usuario?")) {
            // Realiza una solicitud al servidor para borrar el usuario por su ID
            fetch(`/borrar-usuario/${userId}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Actualiza la página o realiza otras acciones necesarias
                        alert("Usuario borrado con éxito");
                        location.reload(); // Recarga la página
                    } else {
                        alert("Error al borrar el usuario");
                    }
                })
                .catch(error => {
                    console.error("Error al borrar el usuario:", error);
                    alert("Error al borrar el usuario");
                });
        }
    }
